[Unit]
Description=Run VPS Capacity Controller every minute

[Timer]
OnBootSec=80s
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=autonomous-vps-capacity-controller-agent.service

[Install]
WantedBy=timers.target
