[Unit]
Description=Run Autonomous WFA Watchdog every 3 minutes

[Timer]
OnActiveSec=2min
OnBootSec=2min
OnUnitInactiveSec=3min
AccuracySec=15s
Persistent=true
Unit=autonomous-wfa-watchdog.service

[Install]
WantedBy=timers.target
